@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: scroll-left 60s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
  /* Pause on hover so users can read */
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* ৩ লাইন সেট করা হলো */
  -webkit-box-orient: vertical;  
  overflow: hidden;
  line-height: 1.6em;
  max-height: 4.8em; /* line-height * 3 */
}

/* মডাল ওপেন হলে ব্লার করার জন্য */
#testiModal {
    transition: opacity 0.3s ease-in-out;
}